<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href=""> -->
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Mini Blog</h1>
  </header>
  <main>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="blog">Blog</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
    <app-blog-view>

    </app-blog-view>
            

    
  </main>
  <footer></footer>
</body>
</html>