.bloc{
    width:60%;
    border-radius: 10px;
    margin: 10px auto;
}

.flex{
    display: flex;
    justify-content: space-around;
}

h2{
    font-size: 40px;
}

.hour{
    padding: 20px;
}

.LoveIt{
    background-color: darkgreen;
}

.DontLoveIt{
    background-color: darkred;
}